.about_con {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  z-index: 1;
  margin: 60px 10%;
  padding: 80px 0;

  & .about_title {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  & .about_text1 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
  }

  & .about_text {
    font-size: 20px;
    margin-bottom: 25px;
    color: #fff;
  }

  & .about_label {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 700;
    font-weight: bold;
  }

  & .about_value {
    font-size: 20px;
    margin-top: 60px;
    color: #cccccc;
    
  }

  & .about_value1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    color: #cccccc;
    line-height: 1.5;
  }

  & .about_list {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.5;
  }
}

@media screen and (max-width: 800px) {
  .about_con {
    height: auto;
    margin: 0 5%;
    padding: 0;

    & .about_list {
      flex-direction: column;
      margin: 50px 0;

      & .about_item {
        width: 100%;
        margin: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  & .about_list {
    padding: 0 50px;
    & .about_item {
      
    }
  }
}
