.contact_wrapper {
  background-color: #00529e;
  color: #fff;
  overflow: hidden;

  & .contact_con {
    max-width: 1170px;
    margin: 50px 10%;
    display: flex;
    justify-content: space-between;

    & .contact_info {
      & .contact_title {
        color: #fff;
        font-size: 35px;
        text-transform: uppercase;
      }

      & .contact_box {
        margin-top: 30px;

        & svg {
          width: 40px;
          height: 40px;
          margin-right: 20px;
        }
      }

      & .contact_address {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .contact_wrapper {
    height: auto;

    & .contact_con {
      flex-direction: column;
    }
  }
}
