nav {
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  & a {
    color: #fff;
  }

  .bar {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    width: 30px;
    height: 30px;
  }

  & .container {
    max-width: 1250px;
    margin: 0 auto;
  }

  & .nav_con {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      & a {
        font-size: 28px;
        text-decoration: none;
        font-weight: bold;
      }
    }

    & ul {
      display: flex;
      list-style: none;

      & li {
        margin: 0 35px;

        & a {
          font-size: 20px;
          text-decoration: none;
        }
      }
    }

    & .button {
      width: 100px;
      height: 35px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
      }

      & a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  nav {
    background-color: rgba(4, 21, 45, 0.9) !important;
    padding-top: 0 !important;
  }

  .nav_con {
    flex-direction: column;
    height: auto !important;
    margin: 25px 0;
    align-items: start !important;
    margin-left: 30px;

    & ul,
    .button {
      display: none !important;
    }
  }

  .mobile_menu {
    list-style: none;

    & li {
      margin: 35px;

      & a {
        text-decoration: none;
      }
    }
  }

  & .mobile_button {
    width: 100px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 35px;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    }

    & a {
      text-decoration: none;
      color: #333;
    }
  }
}

@media screen and (min-width: 721px) {
  nav {
    padding-left: 35px;
  }
  
  .mobile_menu,
  .bar,
  .mobile_button {
    display: none;
  }
}
